﻿html,
  body,
  .body {
  margin: 0;
  padding: 0;
  }

  .body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .body>canvas {
  border-radius: 5px;
  }
  
  body {
  background-color:#000000;
  }